<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/loginAdmin.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xalqlar do'stligi</title>
    <link href="img/logo.png" rel="icon">
    
</head>
<body>
    <div class="login-page">
      
      <div class="form">
        <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form>
          <form class="login-form">
            <input id="usernameInput" type="text" placeholder="username"/>
            <input id="passwordInput" type="password" placeholder="password"/>
            <button id="loginBtn">login</button>
          </form>
          <div id="message">
            
            </div>
        </div>
      </div>
      <script src="js/util.js"></script>
      <script src="js/loginAdmin.js"></script>
  </body>
</html>